.page {
    display: flex;
    flex-direction: column;
    padding: .5rem 0 3.25rem 0;
    margin: 0;
    gap: 4.688rem;
}

.page__header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.page__header-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__head-menu {
    display: none;
}

.header__head-menu, #toggle {
    display: none;
}

.header__head {
    display: flex;
    padding:0 0 .4rem 0;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--grayscale-clr-hard);
}

.header__head-toSearch {
    position: relative;
    display: flex;
    align-self: center;
    gap: .5rem;
    width: 50%;
}

.mobile {
    display: none;
}

.header__head-select {
    height: 2.813rem;
    width: 30%;
    padding: 0.625rem;
    border: 1px solid var(--grayscale-clr-hard);
    border-radius: 0.25rem;
    color: var(--grayscale-clr-hard);
}

select.header__head-select option:hover {
    background-color: var(--grayscale-clr-hard-20);
}

.header__head-search {
    height: 2.813rem;
    padding: 0.625rem;
    width: 70%;
    border: 1px solid var(--grayscale-clr-hard);
    border-radius: 0.25rem;
    color: var(--grayscale-clr-hard);
}

.header__head-btns {
    display: flex;
    gap: 0.813rem;
    align-items: center;
}

.header__btns-log {
    height: 2.813rem;
    padding: 0.625rem;
    border: 1px solid var(--main-clr-neutral);
    border-radius: 0.25rem;
    color: var(--main-clr-neutral);
    background: none;
}

.header__btns-log:hover {
    border: 1px solid var(--main-clr-hard);
    color: var(--main-clr-hard);
}

.header__btns-sell {
    height: 2.813rem;
    padding: 0.625rem;
    border-radius: 0.25rem;
    background-color: var(--main-clr-neutral);
    color: var(--grayscale-clr-lighter);
    border: none;
}

.header__btns-sell:hover {
    background-color: var(--main-clr-hard);
    color: var(--grayscale-clr-lighter);
}

.header__btns-help {
    border: none;
    background: none;
}

.header__navbar {

}

.header__navbar-list {
    display: flex;
    gap: 0.625rem;
    list-style: none;
}

.header__navbar-item {
    padding: 1rem;
}

.header__navbar-item:hover {
    background-color: var(--grayscale-clr-hard-20);
}

.header__navbar-link {
    text-decoration: none;
    color: var(--grayscale-clr-hard);
}

.header__banner {
    display: flex;
    align-items: center;
    padding: 11rem;
    height: 24.813rem;
    background-image: url("Assets/banner.png");
}

.header__banner-label {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.25rem 2.625rem;
    height: 17.688rem;
    width: 25.125rem;
    background-color: var(--grayscale-clr-lighter);
}

.header__label-title {
    font-size: xx-large;
    font-weight: 400;
}

.header__label-cTa {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.header__label-btn {
    height: 2.813rem;
    padding: 0.625rem;
    border-radius: 0.25rem;
    background-color: var(--main-clr-neutral);
    color: var(--grayscale-clr-lighter);
    border: none;
}

.header__label-btn:hover {
    background-color: var(--main-clr-hard);
}

.header__label-link {
    color: var(--main-clr-hard);
}

.header__label-link:hover {
    color: var(--main-clr-neutral);
}

.page__main {
    display: flex;
    flex-direction: column;
    gap: 3.438rem;
    padding: 3.563rem;
}

.main__section {
    display: flex;
    flex-direction: column;
    gap: 3.438rem;
}

.main__section-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__head-link {
    font-size: larger;
    text-decoration: none;
    color: var(--main-clr-neutral);
}

.main__head-link:hover {
    text-decoration: underline;
}

.main__section-cards {
    display: flex;
    justify-content: space-between;
}

.main__section-card {
    display: flex;
    flex-direction: column;
    gap: 0.138rem;
    width: 13rem;
}

.main__card-img {
    height: 20.722rem;
    object-fit: cover;
}

.main__card-underImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__card-price {
    font-weight: 600;
}

.main__card-love {
    background: none;
    border: none;
}

.main__card-size, .main__card-brand {
    color: var(--grayscale-clr-hard);
}

.main__section-card-blank {
    justify-content: center;
    align-items: center;
    background-color: var(--grayscale-clr-hard-20);
}

.main__card-allArticles {
    color: var(--grayscale-clr-harder);
    text-decoration: none;
}

.main__card-allArticles:hover {
    text-decoration: underline;
}


@media screen and (max-width: 75rem) {
    .mobile {
        display: flex;
    }

    .desktop {
        display: none;
    }

    .page__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__head-img {
        width: 7rem;
    }

    .header__navbar {
        display: none;
        flex-direction: column;
        padding: 1rem;
        height: 100%;
        width: 100%;
        color: var(--grayscale-clr-hard);
        background-color: var(--grayscale-clr-lighter);
    }

    .header__head-toSearch {
        width: 100%;
    }

    .header__head-btns {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header__btns-log, .header__btns-sell {
        width: 100%;
    }

    .header__btns-help {
        display: none;
    }

    .header__navbar-list {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .header__navbar-item {
        width: 100%;
    }

    .header__head-menu {
        display: flex;
        align-self: flex-end;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #toggle:checked + .header__navbar {
        display: flex;
    }

    .header__banner {
        width: 100%;
        padding: 3rem;
    }

    .header__label-title {
        font-size: x-large;
    }
    
    .header__label-link {
        font-size: small;
    }

    .main__head-title {
        width: 70%;
        font-size: medium;
    }

    .main__head-link {
        font-size: small;
    }

    .main__section-cards {
        overflow-x: scroll;
        gap: 1rem;
    }

    .main__card-img {
        max-width: none;
    }

    .main__section-card-blank {
        display: none;
    }
    
}
