/* PAGE ACCUEIL CAROLANE */

.header__head {
  display: flex;
  padding:0 0 .4rem 0;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--grayscale-clr-hard);
}

.header__head-select {
  height: 2.813rem;
  padding: 0.625rem;
  border: 1px solid var(--grayscale-clr-hard);
  border-radius: 0.25rem;
  color: var(--grayscale-clr-hard);
}

select.header__head-select option:hover {
  background-color: var(--grayscale-clr-hard-20);
}

.header__head-search {
  height: 2.813rem;
  padding: 0.625rem;
  width: 34.625rem;
  border: 1px solid var(--grayscale-clr-hard);
  border-radius: 0.25rem;
  color: var(--grayscale-clr-hard);
}

.header__head-btns {
  display: flex;
  gap: 0.813rem;
  align-items: center;
}

.header__btns-log {
  height: 2.813rem;
  padding: 0.625rem;
  border: 1px solid var(--main-clr-neutral);
  border-radius: 0.25rem;
  color: var(--main-clr-neutral);
  background: none;
}

.header__btns-log:hover {
  border: 1px solid var(--main-clr-hard);
  color: var(--main-clr-hard);
}

.header__btns-sell {
  height: 2.813rem;
  padding: 0.625rem;
  border-radius: 0.25rem;
  background-color: var(--main-clr-neutral);
  color: var(--grayscale-clr-lighter);
  border: none;
}

.header__btns-sell:hover {
  background-color: var(--main-clr-hard);
  color: var(--grayscale-clr-lighter);
}

.header__btns-help {
  border: none;
  background: none;
}

.header__navbar-list {
  display: flex;
  gap: 0.625rem;
  list-style: none;
}

.header__navbar-item {
  padding: 1rem;
}

.header__navbar-item:hover {
  background-color: var(--grayscale-clr-hard-20);
}

.header__navbar-link {
  text-decoration: none;
  color: var(--grayscale-clr-hard);
}

.header__banner {
  display: flex;
  align-items: center;
  padding: 11rem;
  height: 24.813rem;
  background-image: url("Assets/banner.png");
}

.header__banner-label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.25rem 2.625rem;
  height: 17.688rem;
  width: 25.125rem;
  background-color: var(--grayscale-clr-lighter);
}

.header__label-title {
  font-size: xx-large;
  font-weight: 400;
}

.header__label-cTa {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.header__label-btn {
  height: 2.813rem;
  padding: 0.625rem;
  border-radius: 0.25rem;
  background-color: var(--main-clr-neutral);
  color: var(--grayscale-clr-lighter);
  border: none;
}

.header__label-btn:hover {
  background-color: var(--main-clr-hard);
}

.header__label-link {
  color: var(--main-clr-hard);
}

.header__label-link:hover {
  color: var(--main-clr-neutral);
}

.page__main {
  display: flex;
  flex-direction: column;
  gap: 3.438rem;
  padding: 3.563rem;
}

.main__section {
  display: flex;
  flex-direction: column;
  gap: 3.438rem;
}

.main__section-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__head-link {
  font-size: larger;
  text-decoration: none;
  color: var(--main-clr-neutral);
}

.main__head-link:hover {
  text-decoration: underline;
}

.main__section-cards {
  display: flex;
  justify-content: space-between;
}

.main__section-card {
  display: flex;
  flex-direction: column;
  gap: 0.138rem;
  width: 13rem;
}

.main__card-img {
  height: 20.722rem;
  object-fit: cover;
}

.main__card-underImg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__card-price {
  font-weight: 600;
}

.main__card-love {
  background: none;
  border: none;
}

.main__card-size, .main__card-brand {
  color: var(--grayscale-clr-hard);
}

.main__section-card-blank {
  justify-content: center;
  align-items: center;
  background-color: var(--grayscale-clr-hard-20);
}

.main__card-allArticles {
  color: var(--grayscale-clr-harder);
  text-decoration: none;
}

.main__card-allArticles:hover {
  text-decoration: underline;
}





























/* PARTIE SUIVANTE ELIE */

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

body {
  overflow-y: visible;
  position: relative;
  height: unset;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
}

ul {
  list-style-type: none;
}

.container {
  width: 400%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

.container__panel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.champ {
  background-color: blue;
}

.transport {
  background-color: red;
}

.usine {
  background-color: #CEC6B6;
}

.usine__fumee {
  position: absolute;
  bottom: 0;
}

.usine__couchefumee {
  position: absolute;
  right: 0;
  bottom: 0;
}

.usine__camion {
  position: absolute;
  bottom: 4rem;
  left: 3rem;
  transform: scaleX(-1);
}

.usine__batiment {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-10%);
}

.interieur {
  background-color: #CEC6B6;
}
