/* PARTIE SUIVANTE ELIE */

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

body {
  overflow-y: visible;
  position: relative;
  height: unset;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
}

ul {
  list-style-type: none;
}

/*     PAGE ACCUEIL     */

.accueil {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------LE CAROUSEL------- */



.container {
  width: max-content;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

.container__panel {
  width: 100vw;
  height: 100vh;
}



/*  ------- LE PUIT ------- */

.puit {
  background: #B8E2ED;
  position: relative;
}

.puit__particule {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.puit__terre {
  position: absolute;
  bottom: 0;
  height: 6.81rem;
  z-index: 1;
  width: 100%;
  background-color: #2F5C63;
}

.puit__pompe {
  position: absolute;
  bottom: -19.5rem;
  z-index: -1;
  left: 15rem;
  width: auto;
  height: 20rem;
}

.puit__coton {
  position: absolute;
  bottom: 2.6rem;
  left: 45rem;
}

.puit__mais {
  position: absolute;
  bottom: -7.9rem;
  left: 67rem;
  z-index: -1;
}

.puit__arbres {
  position: absolute;
  bottom: -21rem;
  left: 50rem;
}

.puit__bambou {
  position: absolute;
  bottom: 6.81rem;
}

.puit__soja {
  bottom: 1.6rem;
  position: absolute;
  right: 16rem;
}

.puit__bambou {
  position: absolute;
  bottom: -15.3rem;
  right: 5rem;
}




/*  ------- LE CHAMP ------- */

.champ {
  background: #B8E2ED;
  position: relative;
}

.champ__terre {
  position: absolute;
  bottom: 0;
  height: 6.81rem;
  z-index: 1;
  width: 100vw;
  background-color: #2F5C63;
}