body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: beige;
}

.avion {
    position: absolute;
    transform: rotate(30deg);
}

.avion__svg {
    position: absolute;
    top: 7rem;
    left: 0;
}

.terre {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.bateau {
    position: absolute;
    bottom: -100px;
    left: 14.5rem;
}

.bateau__svg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}